################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/node_modules
/.vs
/package-lock.json
/Jpf.njsproj
/Jpf.sln.DotSettings.user
